.List li {
    counter-increment: count-me;
    position: relative;
    padding-left: 8px;
}
.List li::before {
    content: counter(count-me) '.';
    position: absolute;
    left: -12px;
    color: #d8d8cd;
}
